@import url(shared.css);
/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: transparent;
  color: white;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .logo img {
  width: 40px;
  height: 40px;
}

.header .logo span {
  font-size: 20px;
  font-weight: bold;
  color: #ffac1c;
}
.header a {
  text-decoration: none;
  cursor: pointer;
  color: #7a7a7a;
}
.header:hover {
  color: #ffac1c;
}

